
__pycache__/

.Rproj.user

.DS_Store

.idea/


ouroboros/data/proteoms/herpes.fasta

ouroboros/data/proteoms/homo_sapiens_10-2020.fasta

ouroboros/data/proteoms/general.fasta

ouroboros/data/proteoms/sarscov2_10-2020.fasta
